<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8"/>
		<title>Spring Framework</title>
	</head>
	<body>
		<h1>Random Chuck Norris Joke</h1>
			
		<table style="border: 1px  solid black; background-color: lightblue;">
			<tr style="border: 1px  solid black;">
				<th>Joke Id</th>
				<th>Joke Text</th>
			</tr>
			<tr>
				<td style="border: 1px  solid black;" th:text="${randomJoke.id}"></td>
				<td style="border: 1px  solid black;" th:text="${randomJoke.text}"></td>
			</tr>
		</table>
	</body>
</html>