<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8"/>
		<title>Spring Framework</title>
	</head>
	<body>
		<h1>5 Random Chuck Norris Jokes</h1>
			
			
 
		<table style="border: 1px solid black; background-color: lightgray;">
			<tr style="border: 1px;">
				<th style="border: 1px;">Joke Id</th>
				<th style="border: 1px;">Joke Text</th>
			</tr>
			<tr th:each="randomjoke : ${randomJokes}">
				<td style="border: 1px  solid black;" th:text="${randomjoke.id}"></td>
				<td style="border: 1px  solid black;" th:text="${randomjoke.text}"></td>
			</tr>
		</table>
		
 
	</body>
</html>